autosave.halscope
linuxcnc.var.bak
*~
xyza_working/my_LinuxCNC_machine.hal
xyza_working/my_LinuxCNC_machine.ini
.#*
#*#
linuxcnc.var
clearpath/getstatus
clearpath/getstatus.d
clearpath/getstatus.o
*.so
linuxcnc.var
clearpath/report.txt
